<launch>
  <param name="/amcl/initial_pose_x" value="1.4" />
  <param name="/amcl/initial_pose_y" value="8.1" />
  <param name="/amcl/initial_pose_a" value="0.00" />

  <!-- load the map -->
  <node name="map_server" pkg="map_server" type="map_server"
    args="$(find amcl)/map/inspace.pgm 0.02" />

  <include file="$(find pr2_machine)/$(env ROBOT).machine" />
  <include file="$(find pr2_navigation_global)/amcl_node.xml" />
  <include file="$(find pr2_navigation_teleop)/teleop.xml" />

  <include file="$(find pr2_navigation_perception)/lasers_and_filters.xml" />

  <include file="$(find pr2_navigation_perception)/ground_plane.xml" />
  <include file="$(find pr2_navigation_global)/move_base.xml"/>

  <!-- For funsies -->
  <include file="$(find leg_detector)/launch/leg_detector.launch" />

</launch>
