<launch>
    <node name="pr2_eye_track_demo" pkg="pr2_eye_track_demo" type="pr2_eye_track_demo_node" output="screen"  />


    <node name="apriltag_detector" pkg="apriltags_ros" type="apriltag_detector_node" output="screen" ns="apriltag_ns">
        <remap from="image_rect" to="/kinect2/hd/image_color_rect"/>
        <param name="image_transport" type="str" value="compressed" />
        <param name="sensor_frame_id" value="head_mount_kinect2_rgb_optical_frame"/>
        <rosparam param="tag_descriptions">[
            {id: 121, size: 0.16, frame_id: kinect2_tag_121},
            {id: 1, size: 0.14, frame_id: kinect2_tag_1}]
        </rosparam>
    </node>
</launch>
