<?xml version="1.0"?>

<launch>
    <arg name="use_touch_pads" value="false" />

    <arg name="user" value="pr2admin" />
    <arg name="env-loader" default="/etc/ros/indigo/env.sh"/>
    <machine name="primec1" address="primec1" user="$(arg user)" env-loader="$(arg env-loader)"/>
<!--   <node pkg="tf" type="static_transform_publisher" name="table_pr2_static_tf" args="1 0 0.73 0 0 0.707 -0.707 /odom_combined /tabletop 100" /> -->
  <rosparam file="$(find pr2_picknplace)/cfg/picknplace_config.yaml" ns="pick_place" command="load" />
  <node name="pr2_picknplace" pkg="pr2_picknplace" type="pr2_picknplace" output="screen" clear_params="true">
      <remap from="pr2_picknplace/collision_object" to="/collision_object" />
      <remap from="pr2_picknplace/attached_collision_object" to="/attached_collision_object" />
      <param name="use_touch_pads" value="$(arg use_touch_pads)" />
  </node>

<group if="$(arg use_touch_pads)">
  <!-- stuff that will only be evaluated if use_touch_pads is true. Launch the gripper sensor -->
<!--   <include file="$(find pr2_gripper_sensor_action)/launch/pr2_gripper_sensor_actions.launch" machine="primec1">
     <arg name="machine" value="primec1"/>
  </include> -->
</group>
</launch>
