<?xml version="1.0"?>

<launch>
    <arg name="use_touch_pads" value="true" />

    <arg name="user" value="pr2admin" />
    <arg name="env-loader" default="/etc/ros/indigo/env.sh"/>
    <machine name="primec1" address="primec1" user="$(arg user)" env-loader="$(arg env-loader)"/>

    <node pkg="tf" type="static_transform_publisher" name="tabletop_broadcaster" args="0.5 0 0.725 0 0 0 1 odom_combined tabletop 100" />

    <rosparam file="$(find pr2_picknplace)/cfg/picknplace_config.yaml" ns="pick_place" command="load" />

    <node name="pr2_picknplace_right" pkg="pr2_picknplace" type="pr2_picknplace" output="screen" clear_params="true" args="right_arm">
        <remap from="pr2_picknplace/collision_object" to="/collision_object" />
        <remap from="pr2_picknplace/attached_collision_object" to="/attached_collision_object" />
        <param name="use_touch_pads" value="$(arg use_touch_pads)" />
    </node>

    <node name="pr2_picknplace_left" pkg="pr2_picknplace" type="pr2_picknplace" output="screen" clear_params="true" args="left_arm">
        <remap from="pr2_picknplace/collision_object" to="/collision_object" />
        <remap from="pr2_picknplace/attached_collision_object" to="/attached_collision_object" />
        <param name="use_touch_pads" value="$(arg use_touch_pads)" />
    </node>

</launch>
