<?xml version="1.0"?>

<launch>
    <arg name="camera_namespace" default="/prosilica_camera_tag" />

    <node name="pr2_localise_table" pkg="pr2_picknplace" type="pr2_localise_table" output="screen" clear_params="true">
        <param name="camera_ns" type="str" value="$(arg camera_namespace)" />
    </node>

    <node name="image_proc_prosilica_camera" pkg="image_proc" type="image_proc" ns="$(arg camera_namespace)" output="screen"/>

    <node name="apriltag_detector" pkg="apriltags_ros" type="apriltag_detector_node" output="screen" ns="$(arg camera_namespace)">
        <remap from="image_rect" to="$(arg camera_namespace)/image_rect_color"/>
        <remap from="camera_info" to="$(arg camera_namespace)/camera_info"/>
        <param name="image_transport" type="str" value="compressed" />
        <param name="sensor_frame_id" value="high_def_optical_frame"/>
        <rosparam param="tag_descriptions">[
            {id: 121, size: 0.14, frame_id: prosilica_tag_121_AT_not_chained}]
        </rosparam>
    </node>

</launch>
