<launch>

  <remap from="image_rect" to="/kinect2/qhd/image_color_rect"/>

  <node name="apriltag_detector"
        pkg="apriltags_ros"
        type="apriltag_detector_node"
        output="screen">

      <rosparam param="tag_descriptions">
        [{id: 1, size: 0.04, frame_id: banana},
        {id: 2, size: 0.04, frame_id: tomato},
        {id: 3, size: 0.04, frame_id: bowl},
        {id: 6, size: 0.04, frame_id: spoon}]
      </rosparam>
  </node>
  <node name="pr2_natural_language" pkg="pr2_natural_language" type="pr2_natural_language" output="screen" clear_params="true">
    <rosparam file="$(find pr2_natural_language)/cfg/config.yaml" command="load" />
  </node>

</launch>
